[Desktop Entry]
Name=Mentari
GenericName=AI Meeting Notes
Comment=The AI notepad for private meetings
Exec=anarlog %U
Icon=so.anarlog.Anarlog
Terminal=false
Type=Application
Categories=Office;
Keywords=notes;meeting;transcription;ai;audio;recording;
StartupNotify=true
StartupWMClass=anarlog
MimeType=x-scheme-handler/anarlog;x-scheme-handler/hyprnote;
X-GNOME-UsesNotifications=true
